/**
 * display -> is non-transitionable
 */

body {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first {
    width: 50%;
    background-color: darkmagenta;
    padding: 50px;
    margin: 50px;
    text-decoration: none;
    align-items: center;
}

.second {
    width: 50%;
    background-color: royalblue;
    padding: 50px;
    margin: 50px;
}

.link {
    display: inline-block;
    position: relative;
    font-size: 60px;
    margin: 0 200px;
    color: #fff;
    text-decoration: none;
}

.first .link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #d0e047;
    border-radius: 3px;
    transition: width 0.15s ease-in;
}

.first .link:hover:after {
    width: 100%;
}

.second .link::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 5px;
    background-color: #d0e047;
    border-radius: 3px;
    transition: width 0.15s ease-in;
}

.second .link:hover:after {
    width: 100%;
}
