/***
  * transform-origin -> changing the transform origin
  * transform-origin: center center | 50% 50%
  * transform-origin: xAxis, yAxis
  * xAxis: left, right, top, bottom, center, percentage, length(px)
  * yAxis: left, right, top, bottom, center, percentage, length(px)
*/

.wrapper {
    width: 200px;
    height: 200px;
    border: 1px dashed red;
    margin: 100px auto;
}
/* moving the origin of the element by: transform-origin */
/* .inner {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    transform-origin: 100% 100%;
    transform-origin: center bottom;
    transform-origin: top left;
    transform: rotate(20deg);
} */

/* multiple Transforms on One Element: */
.inner {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  transform: rotate(20deg) translate(20px, 20px) scale(1.5);
}