/**
 * display -> is non-transitionable
 */

body {
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first {
    width: 50%;
    background-color: aquamarine;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    align-items: center;
}

.second {
    width: 50%;
    background-color: burlywood;
    padding: 20px;
    margin: 20px;
}

.link {
    display: inline-block;
    position: relative;
    font-size: 48px;
    color: #fff;
    text-decoration: none;
}

.first .link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #efc323;
    border-radius: 3px;
    opacity: 0;
    transition: height 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.first .link:hover:after {
    height: 5px;
    opacity: 1;
}

.second .link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #efc323;
    border-radius: 3px;
    transform: scaleY(0);
    transition: scaleY 0.15s ease-in;
}

.second .link:hover:after {
    transform: scaleY(1);
}