/**
 * transition-timing-function: predefined keywords
 * -> ease
 * -> ease-in
 * -> ease-out
 * -> ease-in-out
 * -> linear
 * -> step-start
 * -> step-end
 */

/* TRANSITION-TIMING-FUNCTION */
.transition-time {
    color: white;
    background-color: red;
    width: 100px;
    padding: 10px;
    margin: 10px;
    transition-property: margin-left;
    transition-duration: 2s;
}

.ease {
    transition-timing-function: ease;
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}

.linear {
    transition-timing-function: linear;
}

.step-start {
    transition-timing-function: step-start;
}

.step-end {
    transition-timing-function: step-end;
}

.container:hover .transition-time {
    margin-left: 500px;
}
